.container {
  text-align: justify;
  position: relative;
  overflow: hidden;
}
.container:before,
.active:after {
  content: "";
  width: 100%;
  border: 2px solid dodgerblue;
  position: absolute;
  top: 1em;
  margin-top: -2px;
  z-index: -1;
}
.active:after {
  border-color: lightblue;
}
.container:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.item {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 50%;
  background: dodgerblue;
  margin: 0 1em;
  display: inline-block;
  color: white;
}
.active ~ .item {
  background: lightblue;
}
